.image-view img {
  width: 250px;
  height: 250px;
  border-bottom: solid 30px lightgreen;
  border-top: solid 30px skyblue;
  border-left: solid 30px lightpink;
  border-right: solid 30px #ffefd5;
}

p>span {
  color: red;
}

#header span {
  color: pink;
}

span {
  color: green;
}

#header *:last-child {
  color: orange;
}

#header span:first-child:hover {
  color: blue;
}

table,
td,
th {
  border: 1px solid;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}